.menu-category-area {
  position: sticky;
  top: $header-height;
  margin-top: 10px;
  background-color: #fff;

  .category-list {
    display: flex;
    align-content: center;
    height: 54px;
  }

  .category-item {

  }

  .category-tab {
    display: flex;
    align-content: center;
    padding: 0 12px;
    font-size: 16px;
    height: 30px;
    border-radius: 15px;
    color: $booking-color-text6;
    &.is-active {
      background-color: $booking-color-bg165;
      font-weight: 700;
      color: #fff;
    }
  }
}