.menu-item {
  display: flex;
  align-items: center;
  padding: 18px;
  margin: 0 -1*$m-padding;

  &:not(:last-child) {
    border-bottom: 1px solid $booking-color-border144;
  }

  .menu-detail {
    display: flex;
    align-items: center;
    flex: 1;
  }

  .menu-img-area {
    position: relative;
    flex-shrink: 0;
    margin-right: 12px;
    border-radius: 5px;
    overflow: hidden;

    &:not(.no-img)::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,.06);
    }
  }
  
}