.order-box-area {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid $booking-color-border161;
  box-shadow: 0 0 6px 4px rgba(0,0,0,.03);
  background-color: #fff;
  z-index: 9100;

  .common-inner {
    display: flex;
    justify-content: space-between;
    padding: 12px $m-padding;
  }
}
